@model IEnumerable<Models.ModelEmp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empdept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empquali)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.empid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empdept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empquali)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { empid=item.empid }) |
            @Html.ActionLink("Details", "Details", new { empid=item.empid}) |
            @Html.ActionLink("Delete", "Delete", new { empid=item.empid })
        </td>
    </tr>
}

</table>
